[Unit]
Description=Memory Game

[Service]
Type=simple
User=memory
Group=memory
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4792"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw04/webdev-hw04
ExecStart=/home/hw04/webdev-hw04/start.sh

[Install]
WantedBy=multi-user.target
