<div class="row">
  <div class="column">
    <h1 id="join">Join a Game</h1>
  </div>
</div>
<div class="row">
  <div class="column">
    <form id="form">
      <input type="text" id="input">
      <button class="button-primary" id="button" type="submit" onClick="join()">Join</button>
    </form>
  </div>
</div>
