/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

td {
    /* The following image is from imgur: https://imgur.com/r/NEU/FrFAu */
    background-image: url('https://i.imgur.com/2FEflUQ.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border: 1px solid gray;
    padding: 0;
}

td .tile {
    backface-visibility: hidden;
    background-color: rgb(194, 186, 212);
    transform: rotateY(180deg);
    transition: transform .375s, background-color .375s;
}

td .tile.visible {
    transform: rotateY(0);
    backface-visibility: hidden; 
}

tr {
    font-size: 50px;
}

.tile-grid {
    margin: auto auto auto;
    width: 45%;
}

.memory-game {
    text-align: center; 
    padding: 10px; 
}

